.single-post {
  .quote {
    margin: 60px 0;
    @media (max-wdith: 767px) {
      margin: 50px 0;
      padding: 15px 30px 35px 30px;
    }
    @media (max-width: 575px) {
      margin: 40px 0;
      padding: 15px 22px 22px 22px;
    }
    padding: 15px 40px 45px 40px;

    .my-container {
      width: 100%;
    }
  }
}

.quote {
  margin-top: 60px;
  @media (max-width: 575px) {
    margin-top: 80px;
  }
  padding: 20px 0 95px;
  @media (max-width: 575px) {
    padding: 42px 0 56px;
  }
  background: var(--blue-mist);

  .my-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    p {
      text-align: center !important;
    }
  }

  .sign {
    color: #fff;
    height: 94px;
    @media (max-width: 991px) {
      height: 60px;
    }
    @media (max-width: 767px) {
      height: 40px;
    }
    @media (max-width: 575px) {
      height: 23px;
      margin-bottom: 13px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg {
      margin: auto;
    }
  }

  .text {
    max-width: 680px;
    margin: auto;
    line-height: 1.58;
    font-style: italic;
  }

  .author {
    font-size: 12px;
    @media (max-width: 575px) {
      font-size: 10px;
    }
    line-height: 1.5;
    font-weight: 700;
  }
}
