.button-set-cpt {
  .my-container {
    margin-top: 155px;
    @media (max-width: 991px) {
      margin-top: 120px;
    }
    @media (max-width: 849px) {
      display: none;
    }
  }

  .smaller-margin {
    margin-top: 60px;
    @media (max-width: 991px) {
      margin-top: 60px;
    }
    @media (max-width: 849px) {
      display: none;
    }
  }

  .btn-wrapper {
    display: flex;
    gap: 20px;

    .btn-red-border {
      padding: 22px 0;
      text-align: center;
      width: max-content;
      flex: auto;
      text-decoration: none;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 600;

      @media (max-width: 991px) {
        font-size: 14px;
        padding: 16px 0;
      }
    }
  }
}
