img {
  display: flex;
  width: 100%;
  height: auto;
}

* {
  input[type='color'],
  input[type='date'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='email'],
  input[type='month'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='time'],
  input[type='url'],
  input[type='week'],
  input,
  select:focus,
  textarea {
    font-size: 16px !important;
    caret-color: var(--red) !important;
  }
}

:root {
  --arrow-pos: 46px;
  --variable-top: -8px;
}

.hb-wrapper .hb-image-container div.hb-image-div img {
  width: unset;
}

* > br {
  &.mobile {
    @media (max-width: 575px) {
      display: none;
    }
    &.tablet {
      @media (min-width: 576px) and (max-width: 991px) {
        display: none;
      }
    }
    &.desktop {
      @media (min-width: 992px) {
        display: none;
      }
    }
  }
}

svg {
  display: flex;
  height: auto;
}

.my-container {
  width: min(90%, 940px);
  margin: auto;
}

body:not(.wp-core-ui),
html:not(.wp-toolbar),
.acf-block-preview {
  /* Tutaj umieszczamy style globalne */
  font-family: 'Poppins';
  background-color: #fff;
  color: var(--gray);
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-height) + 20px);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    color: var(--gray);
  }

  .wrapper-link {
    text-decoration: none;
    color: unset;
  }

  .mobile-only {
    @media screen and (min-width: 576px) {
      display: none;
    }
  }

  .mobile-hidden {
    @media screen and (max-width: 575px) {
      display: none;
    }
  }

  /* Font sizes */
  .s-60-30 {
    font-size: 60px;
    line-height: 1.2;
    @media (max-width: 767px) {
      font-size: 45px;
    }
    @media (max-width: 575px) {
      font-size: 30px;
    }
  }

  .s-34-18 {
    font-size: 34px;
    line-height: 1.58;
    @media (max-width: 991px) {
      font-size: 30px;
    }
    @media (max-width: 767px) {
      font-size: 26px;
    }
    @media (max-width: 575px) {
      font-size: 18px;
    }
  }

  .s-34-16 {
    font-size: 34px;
    line-height: 1.58;
    @media (max-width: 991px) {
      font-size: 28px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
    }
    @media (max-width: 575px) {
      font-size: 16px;
    }
  }

  .s-18-16 {
    font-size: 18px;
    line-height: 1.6;
    @media (max-width: 991px) {
      font-size: 17px;
    }
    @media (max-width: 575px) {
      font-size: 16px;
    }
  }

  .s-18-14 {
    font-size: 18px;
    line-height: 1.6;
    @media (max-width: 991px) {
      font-size: 16px;
    }
    @media (max-width: 575px) {
      font-size: 14px;
    }
  }

  .s-16-16 {
    font-size: 16px;
    line-height: 1.6;
  }

  .s-18-12 {
    font-size: 18px;
    line-height: 1.6;
    @media (max-width: 991px) {
      font-size: 17px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
    @media (max-width: 575px) {
      font-size: 14px;
    }
  }

  .s-16-14 {
    font-size: 16px;
    line-height: 1.6;
    @media (max-width: 991px) {
      font-size: 15px;
    }
    @media (max-width: 575px) {
      font-size: 14px;
    }
  }

  .s-16-13 {
    font-size: 16px;
    line-height: 1.6;
    @media (max-width: 767px) {
      font-size: 14px;
    }
    @media (max-width: 575px) {
      font-size: 13px;
    }
  }

  .s16-13 {
    font-size: 16px;
    line-height: 1.6;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  .s-16-12 {
    font-size: 16px;
    line-height: 1.6;
    @media (max-width: 767px) {
      font-size: 15px;
    }
    @media (max-width: 575px) {
      font-size: 14px;
    }
  }

  .s-14-14 {
    font-size: 14px;
    line-height: 1.58;
  }

  .s-14-13 {
    font-size: 14px;
    line-height: 1.58;
    @media (max-width: 575px) {
      font-size: 13px;
    }
  }

  .s-14-10 {
    font-size: 14px;
    line-height: 1.58;
    @media (max-width: 991px) {
      font-size: 13px;
    }
    @media (max-width: 767px) {
      font-size: 12px;
    }
    @media (max-width: 575px) {
      font-size: 10px;
    }
  }

  .s-13-16 {
    font-size: 13px;
    line-height: 1.6;
    @media (max-width: 991px) {
      font-size: 14px;
    }
    @media (max-width: 575px) {
      font-size: 16px;
    }
  }

  .s-13-14 {
    font-size: 13px;
    line-height: 1.58;
    @media (max-width: 575px) {
      font-size: 14px;
    }
  }

  .s-13-12 {
    font-size: 13px;
    line-height: 1.58;
    @media (max-width: 575px) {
      font-size: 14px;
    }
  }

  .s-13-10 {
    font-size: 13px;
    line-height: 1.58;
    @media (max-width: 991px) {
      font-size: 12px;
    }
    @media (max-width: 767px) {
      font-size: 11px;
    }
    @media (max-width: 575px) {
      font-size: 10px;
    }
  }

  /* Font weights */
  .w-700 {
    font-weight: 600;
  }

  .w-600 {
    font-weight: 600;
  }

  .w-500 {
    font-weight: 500;
  }

  /* Font colors */
  .c-white {
    color: #fff;
  }

  .c-gray {
    color: var(--gray-title);
  }

  .c-red {
    color: var(--red);
  }

  /* Buttons */
  .btn-wrapper {
    & > * {
      display: inline-block;
      padding: 22px 40px;
      transition: 300ms ease-out;
    }

    .btn-white-border {
      background: transparent;
      border: 1px solid #fff;
      border-radius: 34px;
      color: #fff;
      text-decoration: none;
    }

    .btn-white-full {
      border: 1px solid #fff;
      border-radius: 34px;
      background: #fff;
      color: var(--red);
      text-decoration: none;

      &:hover {
        background: transparent;
        color: #fff;
      }
    }

    .btn-red-full {
      background: var(--red);
      border-radius: 34px;
      line-height: 1.5;
      color: #fff;
      border: none;
      text-decoration: none;

      &:hover {
        background: var(--red-hover);
      }
    }

    .btn-red-border {
      background: transparent;
      border: 1px solid var(--red);
      border-radius: 34px;
      color: var(--red);

      &:hover {
        background: var(--red-hover);
        color: #fff;
      }
    }

    .btn-red-underline {
      background: transparent;
      border: none;
      color: var(--red);
      text-decoration: underline;
      font-weight: 700;
      text-underline-offset: 8px;
    }
  }

  .bubbles {
    position: fixed;
    right: var(--position);
    bottom: var(--position);
    z-index: 99;
    isolation: isolate;

    --position: 100px;
    --width: 68px;
    --gap: 16px;
    @media (max-width: 1199px) {
      --position: 80px;
    }
    @media (max-width: 991px) {
      --position: 60px;
    }
    @media (max-width: 767px) {
      --position: 40px;
    }
    @media (max-width: 575px) {
      --width: 66px;
      --position: 30px;
    }
    @media (max-width: 400px) {
      --position: 15px;
    }

    & > a,
    .messenger-bubble-icon {
      width: var(--width);
      height: var(--width);
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      border-radius: 50%;
      transition: bottom 0.3s 1s;
      z-index: 1;

      svg {
        path {
          transition: 0.3s;
        }
      }

      &:hover {
        background: var(--red);

        svg {
          path {
            fill: #fff;
          }
        }
      }
    }

    .phone-bubble {
      z-index: 1;
    }

    .mail-bubble {
      position: absolute;
      bottom: 0;
      z-index: 2;
    }

    .messenger-bubble-icon {
      cursor: pointer;
      position: absolute;
      bottom: 0;
      z-index: 3;
    }

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        .mail-bubble {
          bottom: calc(var(--width) + var(--gap));
          transition: bottom 0.3s 0s;
        }

        .messenger-bubble-icon {
          bottom: calc(2 * var(--width) + 2 * var(--gap));
          transition: bottom 0.3s 0s;
        }
      }
    }

    &.active {
      .phone-bubble {
        pointer-events: all !important;
      }

      .mail-bubble {
        pointer-events: all !important;
        bottom: calc(var(--width) + var(--gap));
        transition: bottom 0.3s 0s;
      }

      .messenger-bubble-icon {
        pointer-events: all !important;
        bottom: calc(2 * var(--width) + 2 * var(--gap));
        transition: bottom 0.3s 0s;
      }
    }

    @media (pointer: coarse) {
      .phone-bubble,
      .mail-bubble,
      .messenger-bubble-icon {
        pointer-events: none;
        transition: bottom 0.3s 0s, pointer-events 0s 0.5s;
      }
    }
  }

  .cky-accordion-btn {
    text-transform: capitalize !important;
  }

  .cky-modal {
    .cky-show-desc-btn {
      color: var(--red) !important;
    }
    .cky-preference-center {
      .cky-footer-wrapper {
        .cky-prefrence-btn-wrapper {
          .cky-btn-reject,
          .cky-btn-preferences,
          .cky-btn-accept {
            border: 1px solid var(--red);
            border-radius: 19px;
            font-size: 14px;
            line-height: 1.5;
            font-weight: 500;
            transition: 0.3s;
          }

          .cky-btn-reject,
          .cky-btn-preferences {
            &:hover {
              opacity: 1 !important;
              background: var(--red) !important;
              color: #fff !important;
            }
          }

          .cky-btn-accept {
            &:hover {
              opacity: 1 !important;
              background: var(--red-hover) !important;
            }
          }
        }
      }
    }
  }

  .cky-consent-bar {
    padding: 30px 0;

    .cky-notice {
      width: min(90%, 940px);
      margin: auto;

      .cky-title {
        display: none;
      }

      .cky-notice-group {
        gap: 60px;
        display: flex !important;
        @media (max-width: 991px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
        }

        .cky-notice-des {
          font-size: 13px;
          line-height: 1.58;
          font-weight: 500;
          padding: 0 !important;
        }
      }

      .cky-notice-btn-wrapper {
        display: flex;
        flex-direction: row !important;
        align-items: center;
        gap: 20px;
        margin: 0;
        padding: 0 !important;

        .cky-btn-customize,
        .cky-btn-accept {
          margin: 0;
          padding: 9px 0;
          width: 138px;
          text-align: center;
          border: 1px solid var(--red);
          border-radius: 19px;
          font-size: 14px;
          line-height: 1.5;
          font-weight: 500;
          transition: 0.3s;
        }

        .cky-btn-customize {
          &:hover {
            opacity: 1 !important;
            background: var(--red) !important;
            color: #fff !important;
          }
        }

        .cky-btn-accept {
          &:hover {
            opacity: 1 !important;
            background: var(--red-hover) !important;
          }
        }
      }
    }
  }

  .polylang-wrapper {
    cursor: pointer;
    @media (max-width: 899px) {
      display: none;
    }
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: var(--width);
    height: var(--width);
    min-width: var(--width);

    --width: 38px;
    --unit: 10px;

    @media (max-width: 899px) {
      --width: 32px;
      --unit: 8px;
    }

    @media (max-width: 575px) {
      --width: 28px;
      --unit: 6px;
    }

    & > * {
      top: 0;
      transition: top 0.3s 1s, background-color 0.3s;
      position: absolute;
      background: #fff;
      border-radius: 50%;
      isolation: isolate;

      &:nth-child(2),
      &:nth-child(3) {
        &:after {
          position: absolute;
          top: calc(-1 * 3 * var(--unit));
          left: calc(-1 * var(--unit));
          background: #fff;
          width: calc(var(--width) + 2 * var(--unit));
          height: calc(var(--width) + 4 * var(--unit));
          content: '';
          z-index: -1;
          isolation: isolate;
        }
      }

      a {
        transition: 0.3s;
        z-index: 1;
        position: relative;

        img {
          position: relative;
          transition: 0.3s;
          z-index: 2;
        }

        &::after {
          background: var(--red);
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          opacity: 0;
          transition: 0.3s;
        }
      }

      &:hover {
        background: var(--red);

        a {
          img {
            position: relative;
            filter: brightness(0) invert(1);
          }

          &::after {
            opacity: 1;
          }
        }
      }
    }

    .current-lang {
      z-index: 3;
    }

    & > *:nth-child(2) {
      z-index: 2;
    }

    & > *:nth-child(3) {
      z-index: 1;
    }

    .active {
      @media (hover: hover) and (pointer: fine) {
        & > *:nth-child(2) {
          top: calc(var(--width) + calc(4 * var(--unit) + 4px));
          transition: top 0.3s 0s, background-color 0.3s;
        }

        & > *:nth-child(3) {
          top: calc(2 * var(--width) + calc(6 * var(--unit) + 4px));
          transition: top 0.3s 0s, background-color 0.3s;
        }
      }
    }

    &.active {
      .current-lang {
        pointer-events: all !important;
      }

      & > *:nth-child(2) {
        pointer-events: all !important;
        top: calc(var(--width) + calc(4 * var(--unit) + 4px));
        transition: top 0.3s 0s, background-color 0.3s;
      }

      & > *:nth-child(3) {
        pointer-events: all !important;
        top: calc(2 * var(--width) + calc(6 * var(--unit) + 4px));
        transition: top 0.3s 0s, background-color 0.3s;
      }
    }

    & > * {
      pointer-events: none;
      transition: top 0.3s 0s, background-color 0.3s, pointer-events 0s 0.5s;
    }
  }
}

.modal-contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &:after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: 0.5;
    z-index: 0;
  }

  .modal-close-outer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  .modal-text {
    width: min(90%, 544px);
    height: min(90%, 330px);
    background: #fff;
    padding: 20px;
    text-align: center;
    line-height: 1.6;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (max-width: 767px) {
      font-size: 14px;
    }
    @media screen and (max-width: 575px) {
      font-size: 13px;
    }
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    p {
      max-width: 355px;
      margin-inline: auto;
    }

    .message-text {
      display: block;
    }

    .newsletter-text {
      display: none;
    }

    .modal-close {
      position: absolute;
      top: 21px;
      right: 21px;
      width: 13px;
      height: 13px;
      cursor: pointer;
    }
  }

  &.open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
